html, body {height: 100%;}

body {
	background-color: rgb(245,245,245);
}

body > .ember-view {
	height: 100%;
}

.text-center {
	text-align: center;
}

.margin-left {
	margin-left: 20px;
}

.margin-bottom-large {
	margin-bottom: 30px;
}

.muted {
	color: #666;
}

.thin {
	font-weight: 100;
}

.title {
	background-color: #8E2800;
	color: white;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
	.title h1 {
		margin: 0;
	}
	.title h2 {
		margin: 0;
		padding: 7px 0 13px;
		font-size: 19px;
	}

.content {
	border-top: 1px solid #ddd;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
}

.bordered {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

#left-panel {
	width: 230px;
}

#center-panel {
	margin-left: 230px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	border-left: 1px solid #ddd;
}

/* Components
***************/

.loading {
	text-align: center;
	height: 20px;
	opacity: 0.5;
}
	.loading img {
		margin: 14px 0 10px;
	}

.dp {
	width: 200px;
	margin: 15px auto;
}

	.dp .month.active:hover, .dp .year.active:hover,
	.dp .month:hover, .dp .year:hover {
		background-image: none;
		background-color: transparent;
		box-shadow: 0 0 0px 1px rgb(195, 149, 134);
	}

	.dp .month.active, .dp .year.active {
		background-image: none;
		background-color: #BE3600 !important;
	}

.filters {
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
}

/* Bootstrap override
*******************/
a {	color: #BE3600; }
a:hover, a:focus { color: #8E2800; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #BE3600;
}

/* Charts
****************/
.chart {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #999999;
  height: 440px;
  clear: both; }
  .chart img.loading {
    display: block;
    left: 50%;
    position: relative;
    top: 50%; }
  .chart path {
    fill: none; }
  .chart .axis path, .chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .chart .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges; }
  .chart .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges; }
  .chart .overlay {
    fill: none;
    pointer-events: all; }
  .chart .hover-label {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
    .chart .hover-label.top {
      margin-top: -10px; }
    .chart .hover-label.right {
      margin-left: 10px; }
    .chart .hover-label.bottom {
      margin-top: 10px; }
    .chart .hover-label.left {
      margin-left: -10px; }
    .chart .hover-label:empty {
      display: none; }
    .chart .hover-label .arrow, .chart .hover-label .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid; }
    .chart .hover-label .arrow {
      border-width: 11px; }
    .chart .hover-label .arrow:after {
      border-width: 10px;
      content: ""; }
    .chart .hover-label.top .arrow {
      left: 50%;
      margin-left: -11px;
      border-bottom-width: 0;
      border-top-color: #999;
      border-top-color: #999999;
      bottom: -11px; }
      .chart .hover-label.top .arrow:after {
        bottom: 1px;
        margin-left: -10px;
        border-bottom-width: 0;
        border-top-color: white; }
    .chart .hover-label.right .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-left-width: 0;
      border-right-color: #999;
      border-right-color: #999999; }
      .chart .hover-label.right .arrow:after {
        left: 1px;
        bottom: -10px;
        border-left-width: 0;
        border-right-color: white; }
    .chart .hover-label.bottom .arrow {
      left: 50%;
      margin-left: -11px;
      border-top-width: 0;
      border-bottom-color: #999;
      border-bottom-color: #999999;
      top: -11px; }
      .chart .hover-label.bottom .arrow:after {
        top: 1px;
        margin-left: -10px;
        border-top-width: 0;
        border-bottom-color: white; }
    .chart .hover-label.left .arrow {
      top: 50%;
      right: -11px;
      margin-top: -11px;
      border-right-width: 0;
      border-left-color: #999;
      border-left-color: #999999; }
      .chart .hover-label.left .arrow:after {
        right: 1px;
        border-right-width: 0;
        border-left-color: white;
        bottom: -10px; }
    .chart .hover-label .hover-label-content {
      padding: 10px; }
