body {
  font-family: sans-serif;
  width: 800px;
  margin: 1em auto;
}

body, a, a:focus, a:active {
  color: #333;
}

.nav {
  text-align: center;
  margin-bottom: 2em;
}
.nav h1 {
  margin-bottom: .5em;
}

.nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #555;
}

.nav a:hover {
  background-color: #bbb;
}
.nav a.active {
  background-color: #555;
}

text {
  fill: white !important;
}